@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Merriweather:wght@300&family=Roboto:wght@300&display=swap');

html,
body {
    background-color: rgba(13, 13, 13, 0.947);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.text-center:hover {
    color: rgb(166, 218, 157);
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}

.button {
    background-color: rgba(32, 90, 90, 0.705);
    padding: 22px;
    margin: 2px 4px;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(239, 56, 28, 0.6);
    cursor: pointer;
    transform: scale(1.25);
}

.button:active {
    background-color: rgba(69, 132, 169, 0.728);
    cursor: pointer;
    transform: scale(1.25);
}

.row {
    margin: 8px 0;
}

.row input {
    background-color: rgba(52, 197, 197, 0.705);
    width: 275px;
    font-size: 50px;
    margin: 5px;
    padding: 10px 2px;
    border: 3px solid black;
    border-radius: 5px;
}

.row input:hover {
    background-color: rgb(235, 234, 244);
    cursor: pointer;
    transform: scale(1.05);
}

.Cal{
    border: 2px solid black;
    border-radius: 11px;
    padding-left: 12px ;
    padding-right: 11px ;
    padding-top: 22px ;
    padding-bottom: 12px ;
    background: rgb(24, 82, 140);
}